@use '../variables' as *;

.hero {
  display: flex;
  gap: vw(20);
  padding: vw(20);
  border: vw(5) solid #fff;
  border-radius: vw(15);
  background-color: $greenlight;
  width: vw(515);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.5s ease;
  cursor: pointer;
  .side:first-child {
    flex-shrink: 0;
    width: vw(150);
  }
  .side:last-child {
    flex-grow: 1;
  }
  .ava {
    width: auto;
    height: vw(150);
    border: vw(8) solid #fff;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: 0.5s ease;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    font-size: vw(25);
    line-height: vw(30);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: vw(15);
  }
  .line {
    font-size: vw(15);
    line-height: vw(20);
    font-weight: 500;
    padding: vw(10) vw(15);
    border-radius: vw(5);
    background-color: #fff;
    span {
      color: $bluelight;
    }
    &:nth-child(n+2) {
      margin-top: vw(5);
    }
  }
  &:hover {
    border-color: $bluelight;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    .ava {
      border-width: vw(1);
    }
  }
}

@media screen and (max-width: 500px) {

  .hero {
    width: auto;
    .side:first-child {
      width: vw(120);
    }
    .ava {
      height: vw(120);
      border-width: vw(5);
    }
    .name {
      font-size: vw(20);
      line-height: vw(25);
    }
  }

}