@use '../variables' as *;
@use '../templates' as *;

.loader {
  @extend %flexCenter;
  flex: 1;
  width: 100%;
  height: 100%;
  img {
    width: vw(50);
    height: auto;
  }
  &.absolute {
    position: absolute;
  }
  &.big {
    img {
      width: vw(100);
    }
  }
}