@use '../variables' as *;

.swapiPage {
  display: flex;
  flex-wrap: wrap;
  gap: vw(20);
  min-height: 80vh;
}

@media screen and (max-width: 1024px) {

  .swapiPage {
    flex-direction: column;
  }

}