@use '../variables' as *;

.todoApp {
  display: flex;
  flex-wrap: wrap;
  gap: vw(20);
}

.side {
  flex-shrink: 0;
  width: vw(500);
  &.details {
    flex-grow: 1;
  }
}

.add {
  border-radius: vw(25);
  padding: vw(20) vw(25);
  background-color: #C3DCF0;
  margin-bottom: vw(20);
}

.list {
  border-radius: vw(25);
  padding: vw(30);
  background-color: $greenlight;
  .nope {
    font-size: vw(18);
    line-height: vw(20);
    color: #fff;
    display: block;
    text-align: center;
  }
}

.details {
  border-radius: vw(25);
  padding: vw(20) vw(25);
  background-color: #E6E7EB;
}

@media screen and (max-width: 1024px) {

  .side {
    width: 100%;
  }

  .details {
    min-height: vw(200);
  }

}